
<div class="row">
    <div class="title col-md-12">
        <h3 class="header page-header-top-margin">Register!</h3>
    </div>
</div>


<div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control"
           tgt-key-code="13" tgt-key-press="vm.register();"
           id="username" name="username" ng-model="vm.credentials.username" required/>
</div>
<div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control"
           tgt-key-code="13" tgt-key-press="vm.register();"
           id="password" name="password" ng-model="vm.credentials.password" required/>
</div>
<div class="form-group">
    <label for="password">Confirm Password:</label>
    <input type="password" class="form-control"
           tgt-key-code="13" tgt-key-press="vm.register();"
           id="password" name="password" ng-model="vm.credentials.confirmpassword" required/>
</div>
<button id="login" class="btn btn-primary" style="margin-top:5px;" type="submit"
        ng-keypress="vm.keyboardSearch($event)" ng-click="vm.register();">
   Register
</button>

